body {
  background-color: #F0F0F0;
  font: 1rem/1.4 -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

header {
  position: relative;
  z-index: 2;
  left: 0px;
  text-align: left;
  max-width: 420px;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.90);
  margin-bottom: 0.5em;
  border-radius: 2px;
}

header h1 {
  margin-top: 0px;
}

main {
  position: relative;
  z-index: 2;
}

canvas {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}
